body{
    margin:0;
}

.navBar{
    display:flex;
    background-color: royalblue;
    justify-content:space-between;
    align-items:center;
    padding:8px 12px;
}

.navBar .logo {
    color:orangered;
    font-size:150%;
}

a{
    text-decoration: none;
    color:white;
}

.navigation {
    list-style: none;
    display:flex;
    padding-left:0
}

.navigation li{
    padding:5px 10px;
}

.navigation :hover{
    background-color:lightblue;
    border-radius: 4px;
}

.link_logo{
    display:flex;
    list-style:none;
    color:white;
}

.link_logo li{
    padding:5px 10px;
}

@media screen and (max-width:768px) {
    .navBar{
        flex-direction : column;
        align-items: flex-start;
    }

    .navigation{
        flex-direction : column;
        align-items: center;
        width:100%
    }

    .navigation li { 
        width:100%;
        text-align: center;
    }

    .link_logo{
        justify-content: center;
        width:100%
    }
}