h1{
    text-align: center;
    margin-top: 200px;
    font-size:92px;
    letter-spacing: 0.01cm
}

h1 span:nth-child(1){
    color:#4285f4
}

h1 span:nth-child(2){
    color:#ea4335
}

h1 span:nth-child(3){
    color:#fbbc05
}

h1 span:nth-child(4){
    color:#4285f4
}

h1 span:nth-child(5){
    color:#34a853
}

h1 span:nth-child(6){
    color:#ea4335
}

form {
    width: 579px;
    margin-top: 38px;
}

form #search_button{
    background-color:#f4f4f4;
    border-style : none;
    color:#5f6368;
    border-radius: 4px;
    padding: 5px 18px;
    position: absolute;
    top: 44%;
    left: 43%;
}

form #side_button{
    background-color:#f4f4f4;
    border-style : none;
    color:#5f6368;
    border-radius: 4px;
    padding: 5px 18px;
    position: absolute;
    top: 44%;
    left: 50%;
}

.search_bar {
    width:100%;
}

.search_bar #text{
    padding: 0 46px;
    padding-right : 75px;
}

#mic_img{
    position: absolute;
    right: 11px;
    margin-top: -30px;
}

#search_img{
    position: absolute;
    left: 11px;
    margin-top: -30px;
}

#keyboard_img{
    position : absolute;
    right : 46px;
    margin-top:-30px;

}

aside{
    width : 200px;
    height:50px;
    position: absolute;
    top:10px;
    right:10px;
}

aside div li{ 
    float:left;
    list-style:none;
    margin-left:15px;   
}
 
aside div li a{
    color :gray;
    font-size : 14px;
}

footer{
    width:100%; height: 90px;
    border:lightgrey 1px solid;
    background-color: #f1f1f1 ;
    position:absolute;
    bottom:0px;
    color: gray;
    font-size:14px;
}

footer li { 
    list-style : none;
    float:left;
    margin : 10px;
}

footer div:nth-child(1){
    border-bottom: lightgrey 1px solid;
    padding: 5px 0px 5px 33px;
}

footer div:nth-child(2){
    position: absolute;
    bottom: 8px;
    left: 21px;
}